<div>
    {{#if firstName}}
        <h1>Bienvenido
            {{firstName}}
            {{lastName}}, estos son nuestros productos</h1>
        <h3>Tu rol es de {{role}}</h3>
        <button
            type='button'
            class='btn btn-primary'
            onclick="window.location.href='/api/session/logout/'"
        >Logout</button>
        <button
            type='button'
            class='btn btn-primary'
            onclick="window.location.href='/chat/'"
        >Chat</button>
        <button
            type='button'
            class='btn btn-primary'
            onclick="window.location.href='/formcookies/'"
        >Form Cookies</button>
        <button
            type='button'
            class='btn btn-primary'
            onclick="window.location.href='/cart/{{cart}}/'"
        >Ver Carrito</button>
    {{else}}
        <h1>{{title}}</h1>
    {{/if}}
</div>
<div class='container'>
    <div class='row'>
        {{#each products}}
            <div class='col'>
                <div class='card' style='width: 14rem;'>
                    <img
                        src='https://ichef.bbci.co.uk/news/640/cpsprodpb/A058/production/_101784014_gettyimages-490824921.jpg'
                        class='card-img-top'
                        alt='numeral de ejemplo'
                    />
                    <div class='card-body'>
                        <h6 class='card-title'>{{this.title}}</h6>
                        <p class='card-text'>{{this.description}}</p>
                        <p class='card-text'>Category: {{this.category}}</p>
                        <p class='card-text'>Stock: {{this.stock}}</p>
                        <p class='card-text'>Price: {{this.price}}</p>
                    </div>
                    <div class='card-body'>
                        <button
                            type='button'
                            class='btn btn-primary add-to-cart-btn'
                            data-productid='{{this._id}}'
                        >Agregar al Carrito</button>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<nav class='d-grid gap-2 col-6 mx-auto' aria-label='Page navigation example'>
    <ul class='pagination'>
        {{#if hasPrevPage}}
            <li class='page-item'><a
                    class='page-link'
                    href='{{prevLink}}'
                >Previous</a></li>
        {{/if}}
        {{#if hasNextPage}}
            <li class='page-item'><a
                    class='page-link'
                    href='{{nextLink}}'
                >Next</a></li>
        {{/if}}
    </ul>
</nav>

<script
    src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'
    integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM'
    crossorigin='anonymous'
></script>

<script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>

<script>
    window.addEventListener('load', () => { 
        const addToCartButtons = document.querySelectorAll('.add-to-cart-btn');
            addToCartButtons.forEach(button => { 
                button.addEventListener('click', async () => { 
                    const productId = button.getAttribute('data-productid'); 
                    const cartId = '{{cart}}' 
                try { const url =`http://localhost:8080/api/carts/${cartId}/products/${productId}` 
                    const response = await fetch(url, { method: 'POST' }) 
                    if (response.ok) {
                          console.log('Producto agregado al carrito con éxito') 
                          Swal.fire({ 
                            icon:'success', 
                            title: 'Producto agregado al carrito con éxito',
                            timer: 2000, 
                            showConfirmButton: false})
                    } else {
                            const responseData = await response.json();
                            console.error(responseData)
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: responseData.message,
                            });
                    } 
                } catch (error) {
                    console.error('Error en la solicitud:', error); } 
                    }); 
                }); 
            });
</script>