<div>
  <h1>{{title}}</h1>
</div>
<table class="table">
  <thead>
    <tr class="table-primary">
      <th scope="col">Producto</th>
      <th scope="col">Código</th>
      <th scope="col">Descripción</th>
      <th scope="col">Stock</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
  {{#each products}}
    <tr class="table-secondary">
      <th scope="row">{{this.title}}</th>
      <td>{{this.code}}</td>
      <td>{{this.description}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.category}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

<nav class="d-grid gap-2 col-6 mx-auto" aria-label="Page navigation example">
  <ul class="pagination">
    {{#if hasPrevPage}}
    <li class="page-item"><a class="page-link" href="?page={{prevPage}}">Previous</a></li>
    {{/if}}
    {{#if hasNextPage}}
    <li class="page-item"><a class="page-link" href="?page={{nextPage}}">Next</a></li>
    {{/if}}
  </ul>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>